<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.MichaelEmpleadosConnectionString"
            connectionString="Data Source=85.208.20.69,54321;Initial Catalog=MichaelEmpleados;Persist Security Info=True;User ID=sa;Password=Sql#123456789;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>